<html>
    <head>
	<title>Social Studies</title>
	<style> 
            body {
                background-color: maroon;
            }
        </style>
    </head>
    <body>
	<h1>Economics</h1>
	<p>
		Microeconomics, Macroeconomics
	</p> 
	<h1>Neuroscience</h1>
	<table>
            <caption>Flows of memons from nerve receptors to Left Hemisphere, Mid-Brain, Right Hemisphere</caption>
          <tr>
            <th>Branches of Science</th>
            <th>Types of Philosophy</th>
            <th>Genres of Art</th>
          </tr>
          <tr>
            <th>Physics</th>
            <th>Logic</th>
            <th>History</th>
          </tr>
          <tr>
            <th>Chemistry</th>
            <th>Aesthetics</th>
            <th>Fantasy</th>
          </tr>
          <tr>
            <th>Biology</th>
            <th>Axiology</th>
            <th>Romance</th>     
          </tr>
          <tr>
            <th>Earth Science</th>
            <th>Epistemology</th>
            <th>Children's</th>
          </tr>
          <tr>
            <th>Astronomy</th>
            <th>Metaphysics</th>
            <th>Mystery</th>
          </tr>
        </table>
        <table>
          <tr>
            <th>Production</th>
            <th>Manufacturing + Mining; EXXJ, Enneagram 2 & 3, Choleric, Domination, Machiavellianism, Left Brain, Willpower</th>
            <th>Operations | Growth | Transformation | Restructuring | Green | Sustainability | Services | Trust | Wellbeing | Experience | Behavioral | Supply Chain</th>
          </tr>
          <tr>
            <th>Purchasing</th>
            <th>Financial Intermediation + Real Estate & Renting & Hotels & Restaurants; IXXJ, Enneagram 1 & 9, Plhegmatic, Steadiness, Narcissism, Right Brain, Cunning</th>
            <th>Executive | Business | Diversity + Equity + Inclusion | Commercial | Creative | Design | Art | Scientific | Content | Quality | Compliance | Legal</th>
          </tr>
          <tr>
            <th>Management/Administration</th>
            <th>Community, Social and Personal Service Activities + Other; XXXX, Enneagram 6, Temperament n/a</th>
            <th>Finance | Accounting | Strategy | Visionary | Responsibility | Talent | HR | Budget | Investment | Procurement | Genealogical | Risk</th>
          </tr>
          <tr>
            <th>Revenue</th>
            <th>Wholesale & Retail Trade + Telecommunications; EXXP, Enneagram 7 & 8, Sanguine, Conscientiousness, Psychopathy, Mid Brain, Presence</th>
            <th>Sales | Marketing | Communication | People | Customer | Relationship | Brand | Reputation | Party | Happiness | Visibility | Storytelling</th>   
          </tr>
          <tr>
            <th>Research & Development</th>
            <th>Business Activities + Transport, Post & Storage; IXXP, Enneagram 4 & 5, Melancholic, Intrigue, Sadism, Miscellaneous (Chemicals) Brain, Intellect</th>
            <th>Technology | Solutions | Knowledge | Information | Security | Privacy | Process & Innovation | Digital | Automation | Data | Analytics | Learning</th>
          </tr>
        </table>
        <p>Percentages of traverse-mentoring mbti types: 16.7% EXFP 15.4% IXFJ, 14.9% EXFJ 13.3% IXFP, 13.8% IXTJ 6.6% EXTP, 10.6% EXTJ %8.7 IXTP</p>
         <table>
             <caption>Brainwave Associations</caption>
          <tr>
            <th>Gamma</th>
            <th>Problem Solving, Concentration</th>
          </tr>
          <tr>
            <th>Beta</th>
            <th>Busy, Active Mind</th>
          </tr>
          <tr>
            <th>Alpha</th>
            <th>Reflective, Restful</th>
          </tr>
          <tr>
            <th>Theta</th>
            <th>Drowsiness</th>
          </tr>
          <tr>
            <th>Delta</th>
            <th>Sleep, Dreaming</th>
          </tr>
         </table>
        <p>A summarized philosophy: to exist means to have positive neurochemistry.</p>
	<h1>Personality</h1>
	 <table>
             <caption>Person</caption>
          <tr>
            <th><em>Personality</em></th>
            <th><em>Weight</em></th>
          </tr>
          <tr>
            <th>ISFJ</th>
            <th><input type="text" name="ISFJ" value="0"></th>
          </tr>
          <tr>
            <th>ISTJ</th>
            <th><input type="text" name="ISTJ" value="0"></th>
          </tr>
          <tr>
            <th>ESFJ</th>
            <th><input type="text" name="ESFJ" value="0"></th>
          </tr>
          <tr>
            <th>ESTJ</th>
            <th><input type="text" name="ESTJ" value="0"></th>
          </tr>
          <tr>
            <th>ISFP</th>
            <th><input type="text" name="ISFP value="0"></th>
          </tr>
          <tr>
            <th>ISTP</th>
            <th><input type="text" name="ISTP" value="0"></th>
          </tr>
          <tr>
            <th>ESFP</th>
            <th><input type="text" name="ESFP" value="0"></th>
          </tr>
          <tr>
            <th>ESTP</th>
            <th><input type="text" name="ESTP" value="0"></th>
          </tr>
          <tr>
            <th>ENFP</th>
            <th><input type="text" name="ENFP" value="0"></th>
          </tr>
          <tr>
            <th>ENTP</th>
            <th><input type="text" name="ENTP" value="0"></th>
          </tr>
          <tr>
            <th>INFP</th>
            <th><input type="text" name="INFP" value="0"></th>
          </tr>
          <tr>
            <th>INTP</th>
            <th><input type="text" name="INTP" value="0"></th>
          </tr>
          <tr>
            <th>ENTJ</th>
            <th><input type="text" name="ENTJ" value="0"></th>
          </tr>
          <tr>
            <th>ENFJ</th>
            <th><input type="text" name="ENFJ" value="0"></th>
          </tr>
          <tr>
            <th>INTJ</th>
            <th><input type="text" name="INTJ" value="0"></th>
          </tr>
          <tr>
            <th>INFJ</th>
            <th><input type="text" name="INFJ" value="0"></th>
          </tr>
         </table>
	<h1>Color Pallete</h1>
	<p>
		- : string colors = [|"red"; "green"; "blue"; "cyan"; "yellow"; "magenta"|]
		- : string palletes = [|"yellow magenta"; "cyan magenta"; "cyan yellow"; "green blue"; "red blue"; "red green"|]
		for i = 0 to 5 do
		  print_endline colors.(i);;
		  print_endline "goes with"
		  print_endline palletes.(i);;
		  print_endline ""
		done
	</p>
	<h1>Dark Pattern Taxonomy</h1>
	<p>
		console.log("The dark patterns you aren't wary of are not your dark pattern personality type.");
		console.log("Nagged: Redirects users to expected functionality.");
		console.log("Obstructed: Makes it difficult for users to interact.");
		console.log("Sneaked: Hides or delays useful information.");
		console.log("Interface-interfered: Manipulates the user interface to emphasize certain aspects.");
		console.log("Forced-actioned: Requires users to perform an action to access functionality.");
		console.log("Overloaded: Presents a large amount of information to prompt users to share more data.");
		console.log("Stirred: Uses visual nudges or appeals to users' emotions to affect their choices.");
		console.log("Hindered: Makes it difficult or impossible for users to manage their data or learn about their privacy options.");
		console.log("Fickled: Inconsistent or unclear design that makes it difficult for users to understand the purpose of data processing or navigate data protection control tools.");
		console.log("Left in the dark: Hides data protection control tools or information, or leaves users unsure of how their data is processed.");
		console.log("De facto forced: Forces users to take an action to perform another action."); 
		console.log("Obstacled: Dissuades users from taking certain actions using obstacles.");
		console.log("others include:.");
		console.log("7 chakra targeting.");
		console.log("qualia that stiffen spines.");
		console.log("black & green euler spirals.");
		console.log("x^2 + 4 geometry, or otherwise followings of the numeric sequence.");
	</p> 
	<h1>Funny Quotes</h1>
	<p>
		Sla fa boom aw, onen finen, ja ju je jo.
	</p>
	<h1>Fragrance Recipe</h1>
	<p>
		var rare = Array(
			"Amber",
			"Angelica",
			"Anise",
			"Apricot",
			"Apricot Kernel Oil",
			"Azalea",
			"Balsam of Peru",
			"Basil",
			"Bay Leaf Oil",
			"Bayberry",
			"Benzoin",
			"Bergamot",
			"Bitter Almond Oil",
			"Bitter Orange Oil",
			"Black Currant Bud",
			"Bois de Rose",
			"Carnation",
			"Cassie",
			"Castoreum",
			"Cedarwood",
			"Citronella",
			"Civet",
			"Clary Sage",
			"Clove Bud Oil",
			"Costus",
			"Cyclamen",
			"Eugenol",
			"Frangipani",
			"Frankincense",
			"Freesia",
			"Galbanum",
			"Gardenia",
			"Geranium",
			"Gum",
			"Glycerin",
			"Grapefruit",
			"Heliotrope",
			"Honeysuckle",
			"Hyacinth",
			"Jasmine",
			"Jojoba Oil",
			"Jonquil",
			"Juniper",
			"Labdanum",
			"Lavandin",
			"Lavender",
			"Lemongrass",
			"Lemon Oil",
			"Lilac",
			"Lily",
			"Lily of the Valley",
			"Lime Oil",
			"Mace",
			"Magnolia",
			"Mandarin",
			"Marigold",
			"Melon",
			"Mignonette",
			"Mimosa",
			"Musk",
			"Myrrh",
			"Narcissus",
			"Neroli Oil",
			"Night-Scented Stock",
			"Oakmoss",
			"Opoponax",
			"Orange Blossom",
			"Orangeflower Water",
			"Orris",
			"Osmanthus",
			"Palma Rose Oil",
			"Patchouli",
			"Peach",
			"Pear",
			"Pennyroyal",
			"Peppermint",
			"Petitgrain",
			"Pine Needle Oil",
			"Pineapple",
			"Plum",
			"Resin",
			"Resinoids",
			"Rondeletia",
			"Rose Bulgare",
			"Rose de Mai",
			"Rosemary",
			"Rosewater",
			"Sandalwood",
			"Siberian Fur",
			"Star Anise",
			"Stephanotis",
			"Styrax",
			"Sweet Almond Oil",
			"Sweet Orange",
			"Sweet Pea",
			"Tangerine",
			"Thyme",
			"Tonka Bean",
			"Tuberose",
			"Turkey Red Oil",
			"Vanillin",
			"Verbena",
			"Vetiver",
			"Violet",
			"Water Lily",
			"Wheat Germ Oil",
			"Ylang-Ylang"
		)  
		
		var common = Array (
			"Allspice",
			"Apple",
			"Black Pepper",
			"Cardamom",
			"Cinnamon",
			"Coconut Oil",
			"Coriander",
			"Ginger",
			"Honey",
			"Nutmeg",
			"Rasberry",
			"Vanilla"
		)
		
		for (x <- common) {
			var included = Random.between(0, 1)
			if(included > 0) {
				println(x)
			}
		}
	</p> 
	<h1>Short Scary Story</h1>
	<p>
		quotes = [
			"You don't even know that you're alive, 81^3#!",
			"Green number 4, close the door!",
			"You're not perfect!",
			"I-I-I-I-I want the knife.",
			"Sharks and minnows!",
			"You are not even past the phase yet.",
			"Put your hand in the gom jabbar.",
			"We're gonna drive that mother, down into your spine!",
			"And the nazgul was no more.",
			"At the end of a road was a white house.",
			"Who shall you be, the payer, or the payee?",
			"The game is predator vs prey.",
			"Where is the scroll?",
			"Just wait, until I've finished this section!",
			"Of passion accurst I have drank of a water that quenches all thirst",
			"Hell is empty and all the devils are here",
			"Chainsaw sepukku!"
			"It is a dump company.",
			"Let's say we strike a deal, not reinvent the wheel!",
			"We need to save the mentally ill.",
			"It was bait.",
			"Spinware is dark pattern.",
			"You don't have to implement the program. You do have to implement the program.",
			"Prometheus one.",
			"Bio-sadist engine.",
			"Engine of the uncontrolled.",
			"Floating white gown.",
			"Depressive marketing campaign.",
			"Very repetitive excitement.",
			"Round 2 electric boogaloo",
			"It's bad for ya.",
			"Sleep.",
			"Intelligence is disease.",
			"It shattered the kid's dreams.",
			"They just keep driving, driving, driving.",
			"Make sure it actually meets what they expect.",
			"Don't be afraid of the dark.",
			"Undead malware."
			"Goatskull floating in green mist.",
			"That was just my crazy ********: don't crap on me.",
		        "Let's turn it up."
		]
		
		for (x <- quotes) {
		         println(x)
		}
	</p>
  </body>
</html>
