<html>
    <body>
    <h1><a href="https://docs.google.com/document/d/1UnQN5FBOXWiEOR3lkoWNMFROX0AjwMuNREEij2Xrdvo/edit">Campaign</a> tips for character creation</h1>
	<button onclick="encounter()">Go</button>
    	<form>Skill Check:
	    <select>
		    <option>Athletics (climb, force open, grapple, high jump, long jump, reposition, shove, swim, trip; disarm)</option>
		    <option>Melee/Ranged/Magic Attack</option>
		    <option>Acrobatics (balance, tumble through; fly maneuver, squeeze)</option>
		    <option>Piloting</option>
		    <option>Stealth (conceal object, hide, sneak)</option>
		    <option>Thievery (palm object, steal; disable device, pick lock)</option>
		    <option>Arcana (recall knowledge; borrow an arcane spell, decipher writing, identify magic, learn a spell)</option>
		    <option>Computers</option>
		    <option>Crafting (recall knowledge, repair; craft, earn income, identify alchemy)</option>
		    <option>Deception (create diversion, impersonate, lie; feint)</option>
		    <option>Diplomacy (gather information, make impression, request)</option>
		    <option>Intimidate (coerce, demoralize), Lore (recall knowledge; earn income)</option>
		    <option>Medicine (first aid; disease, poison, wounds)</option>
		    <option>Nature (command animal, recall knowledge; identify magic, learn a spell)</option>
		    <option>Occultism (recall knowledge; decipher writing, identify magic, learn a spell)</option>
		    <option>Survival (sense direction, subsist; cover tracks, track)</option>
		    <option>Religion (recall knowledge; decipher writing, identify magic, learn a spell)</option>
		    <option>Society (recall knowledge, subsist; create forgery)</option>
	    </select>
    </form>-->
<p>
      <%= f.label :mpaa_rating %>
      <%= f.select :mpaa_rating %>
   </p>
	<form action="/somepath" method="post">
		<select name = "post[person_id]">
			<option value = "1">Material<option>
			<option value = "2">First World<option>
			<option value = "3">Shadow<option>
			<option value = "4">Abaddon<option>
			<option value = "5">Hell<option>
			<option value = "6">Astral<option>
		</select>
	  	<input type="submit" value="Submit Destination">
	</form>
    <table>
      <tr>
	<td>Manufacturing</td>
	<td>Wholesale & Retail Trade</td>
	<td>Community, Social and Personal Service Activities</td>
	<td>Business Activities</td>
	<td>Financial Intermediation</td>
      </tr>
      <tr>
	<td>Mining</td>
	<td>Telecommunications</td>
	<td>Other</td>
	<td>Transport, Post & Storage</td>
	<td>Retail Estate & Renting & Hotels & Restaurants</td>
      </tr>
    </table>
    <h2>Setting summary:</h2>
    <p>Heavily inspired by star wars. Involves a mysterious crash landing in which the members of the ship awoke from carbonite not knowing what planet they inhabit currently or previously.</p>
    <p>The AI which they learned was controlling the ship instructed them to set up a shield until they were sufficiently settled to explore the intruiging planet.</p>
    <p>After some centuries of incubation, some members of the "city" were selected to go beyond the shield barrier to explore the world to the best of their capabilities.</p>
    <p>You, one of the co-founders of a goliath company comprised of the aforementioned 10 industries, have made future-changing progress & many fruits of labour via its digitalized workers, amounting to inconcievable wealth, overall giving you a reputation that you will keep one and all safe by insuring no one gets in its way, 
  </body>
</html>
